form {
    border: 3px solid #f1f1f1;
  }
  body{
    display: flex;
    align-items: center;
    justify-content: center;
     font-family: "Poppins", sans-serif;
}
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
  }
  input[type=submit]{
    background-color: black;
    padding: 10px 20px;
    color: white;
    margin-left:10rem;
    font-size: 20px;
    border-radius: 10px;
  }
  
  .container {
    padding: 20px;
    width: 400px;
    height:auto;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  form{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
  }
  .form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(loginbg.jpg);
    background-position: center;
    background-size: cover;
  }