body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f6f3;
}
.list{
    gap: 10px;
}
.list ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

}
.list ul li{
    list-style-type: none;
    padding: 5px;
    font-size: 25px;
    text-decoration: none;
    background-color:black;
    border-radius: 1000px;
}
.list a:hover{
    color: #fff;
}
.list ul li:hover{
    color: #fff;
    background-color: #000;
}
.list a{
    text-decoration: none;
    color: #fff;
}
.logo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.products h1{
    text-align: center;
    color:#111;
    font-size: 3em;
}
.container{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap:25px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
   

}
/*.bg-video{
    position: fixed;
    height: 100dvh;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}*/
.card{
    width: 300px;
    padding: 10px;
    transition: 0.5s;
    box-shadow: 0px 5px 24px rgba(0,0,0,1);
}
.card:hover{
    transform:scale(0.9);
}
.captions{
    background-color: rgba(255, 228, 196, 0.226);
    padding: 10px;
    margin: 0px;
}
.captions h1{
    margin-top: 0px;
}
.card img{
    aspect-ratio: 16/9;
    width: 300px;
    height: 300px;
}
span{
    color:rgba(0, 0, 255, 0.664);
}